mat-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content-wrapper {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
}

.container {
  width: 400px;
  margin: 0 25px 25px 0;
  border: 1px solid lightgray;
  padding: 1em;
  border-radius: 4px;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 1.5em;
  margin: 25px;
  text-align: center;
  opacity: 0.25;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}
